    <div class="row">
    {{#each rows}}

    
    <a href="../{{this.image}}" class="fancybox m-3 col-4" data-fancybox="{{this.cat}}" >
<img src="../{{this.image}}" class="rounded mx-auto d-block img-fluid" alt="..."></a>
{{/each}} 
</div>